@mixin responsive($breakpoint) {
  @if $breakpoint == smallest-bp {
    @media (max-width: 440px) {
      @content;
    }
  }
  @if $breakpoint == small-bp {
    @media (max-width: 530px) {
      @content;
    }
  }
  @if $breakpoint == medium-bp {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == large-bp {
    @media (max-width: 1050px) {
      @content;
    }
  }
  @if $breakpoint == largest-bp {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

@mixin answer-item-styles {
  background-color: $answer-item-background;
  color: $answer-text-color;
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: bold;
  border: 2px solid $answer-border-color;
  min-height: 4rem;
  border-radius: 1rem;
  line-height: 1.6;
}
