@mixin responsive($breakpoint) {
  @if $breakpoint == smallest-bp {
    @media (max-width: 640px) {
      @content;
    }
  }
  @if $breakpoint == small-bp {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == medium-bp {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == large-bp {
    @media (max-width: 1280px) {
      @content;
    }
  }
  @if $breakpoint == largest-bp {
    @media (max-width: 1536px) {
      @content;
    }
  }
}

@mixin answer-item-styles {
  background-color: $answer-item-background;
  color: $answer-text-color;
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: bold;
  border: 2px solid $answer-border-color;
  min-height: 4rem;
  border-radius: 1rem;
  line-height: 1.6;
}

@mixin section-styles {
  height: 100vh;
  padding: 2rem $responsive-horizontal-padding;
  margin: 0 auto;
  background: $quiz-background-color;
  @include responsive(large-bp) {
    padding: 2rem $responsive-horizontal-padding-medium;
  }
  @include responsive(medium-bp) {
    padding: 2rem $responsive-horizontal-padding-small;
  }
}
