$light-color: #fcfcfc;

$tertiary-color: #0fc9e7;

$secondary-color: #3186b2;

$primary-color: #4756ca;

$topic-text-color: white;

$question-color: $primary-color;

$quiz-background-color: white;
$quiz-header-info-color: $primary-color;
$answer-item-background: transparentize($primary-color, 0.8);
$answer-border-color: transparentize($primary-color, 0.5);
$answer-text-color: $primary-color;

$hard-color: $primary-color;
$medium-color: $secondary-color;
$easy-color: $tertiary-color;

$gap: 5rem;
